body {
}

img {
    width: 30px;
    height: 20px;
}

table {
    width: 500px;
    height: 150px;
    border-collapse: collapse;
}

tr:nth-child(2n+1) {
    background-color: #ECECD8;
}

.info {
    background-color: #50B306 !important;
    color: white;
    font-size: 15px;
    border-bottom: 1px solid #407F29;
}

td {
    border-right: 1px solid #CCCBB6;
    padding-left: 10px;
}

.noBorder {
    border: none;
}

table:last-child {
    border-bottom: 1px solid #CCCBB6;
}
